* {
  box-sizing: border-box;
}

body {
  overflow: hidden;

  /* margin: 40px; */
  /* background-color: #6d597a; */
  /* background-color: #989898; */
  /* background-color: #e6decf; */
  /* background-color: #fff; */
  /* background-color: rgb(130, 130, 130); */
  color: #000;
  
}

#top {
  z-index: 300;
  background-color: #fff;
  width: 100%
  position: fixed;
}

h1 {
  position:fixed;
  top: 10px;
  left: 30px;

}

span {
  color: red;
}

canvas {
  margin-top: 25%;
}

.alegreya-sans-black {
  font-family: "Alegreya Sans", system-ui;
  font-weight: 900;
  font-style: normal;  
  font-size: 10rem;
} 

#text {
  position: fixed;
  top: 166px;
  left: 40px;
  font-weight: 400;
  font-size: large;
  /* z-index: 400; */
  font-family: "Alegreya", serif;
  background-color: #fff;

}

/* #nav {
  font-weight: 600;
  z-index: 600;
  font-family: "Raleway", sans-serif; 
  
  
  background-color: black; 
} */

navbar {
  /* z-index: 300; */
  color: #070000;
  background-color: black;
}



.navbar {
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: black;
}
/* unvisited link */
/* a:link {
  color: rgb(250, 250, 250);
  font-weight: 600;
} */

/* visited link */
#nav a:visited {
  color: rgb(238, 220, 220);
}

/* mouse over link */
#nav a:hover {
  color: red);
}

/* selected link */
#nav a:active {
  color: rgb(255, 0, 0);
}



#nav a {
  font-weight: 400;
  color: #fff;
}

#nav a link:hover {
  color: #ff0000;
}

a link:visited {
  color: gray;
}

container {
  position:fixed;
  top: 50px;

}

canvas {
  opacity: 0;
  display: block;
  position: fixed;
  top: 10%;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -10;
  pointer-events: auto !important;
  pointer-events: none;
  background-color: #989898;
}

.physicsDiv {
  /* border-radius: 10px; */
  /* margin: 10px; */
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 110px;
  cursor: rgb(255, 0, 0) !important;
  box-shadow: 1px 1px 2px 1px #989898;
  transform-origin: center;
  /* background-color: #cad8de; */

  background-color: #989898;
  /* background; */
  margin: 0;
}

.autoWidth {
  width: auto;
}

.smol {
  width: 100px;
  /* z-index: 50; */
}

.med {
  width: 150px;
  /* z-index: 70; */
}




/* div.filled,
div.outline {
  position:absolute;
  top: 10px;
  left: 10px;
  width: 25%;
  height: 25%;
  z-index: 2;
  pointer-events: none;

  background-image: url(./images/filled-logo.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
} */

/* div.outline {
  background-image: url(./images/outline-logo.svg);
  z-index: 100;
} */
